In [84]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (1.0.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2018.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [85]:
!pip install requests
import requests

Requirement already satisfied: requests in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (1.25.8)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aviparna.biswas\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (2.9)

Step 1: Data Collection

In [86]:
df = pd.read_excel(r'C:\Users\aviparna.biswas\PycharmProjects\COVID-19\COVID-19-geographic-disbtribution-worldwide.xlsx')
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-09-29,29,9,2020,12,3,Afghanistan,AF,AFG,38041757.0,Asia,1.114565
1,2020-09-28,28,9,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,1.343261
2,2020-09-27,27,9,2020,35,0,Afghanistan,AF,AFG,38041757.0,Asia,1.540413
3,2020-09-26,26,9,2020,6,2,Afghanistan,AF,AFG,38041757.0,Asia,1.540413
4,2020-09-25,25,9,2020,16,0,Afghanistan,AF,AFG,38041757.0,Asia,1.614016
...,...,...,...,...,...,...,...,...,...,...,...,...
45803,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
45804,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
45805,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
45806,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
45807,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

Step 2:Data Cleaning

#Issue 1: Extra Columns

In [87]:
target_df = df.drop(['day','month','year','geoId','countryterritoryCode'],1)
target_df

,dateRep,cases,deaths,countriesAndTerritories,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-09-29,12,3,Afghanistan,38041757.0,Asia,1.114565
1,2020-09-28,0,0,Afghanistan,38041757.0,Asia,1.343261
2,2020-09-27,35,0,Afghanistan,38041757.0,Asia,1.540413
3,2020-09-26,6,2,Afghanistan,38041757.0,Asia,1.540413
4,2020-09-25,16,0,Afghanistan,38041757.0,Asia,1.614016
...,...,...,...,...,...,...,...
45803,2020-03-25,0,0,Zimbabwe,14645473.0,Africa,NaN
45804,2020-03-24,0,1,Zimbabwe,14645473.0,Africa,NaN
45805,2020-03-23,0,0,Zimbabwe,14645473.0,Africa,NaN
45806,2020-03-22,1,0,Zimbabwe,14645473.0,Africa,NaN
45807,2020-03-21,1,0,Zimbabwe,14645473.0,Africa,NaN

#Issue 2: Rename columns

In [88]:
target_df_new = target_df.rename(columns={'dateRep':'Date','cases':'Cases','deaths':'Deaths','countriesAndTerritories':'Countries','popData2019':'Population','continentExp':'Continent','Cumulative_number_for_14_days_of_COVID-19_cases_per_100000':'Cumulative Data'})

In [89]:
target_df_new

,Date,Cases,Deaths,Countries,Population,Continent,Cumulative Data
0,2020-09-29,12,3,Afghanistan,38041757.0,Asia,1.114565
1,2020-09-28,0,0,Afghanistan,38041757.0,Asia,1.343261
2,2020-09-27,35,0,Afghanistan,38041757.0,Asia,1.540413
3,2020-09-26,6,2,Afghanistan,38041757.0,Asia,1.540413
4,2020-09-25,16,0,Afghanistan,38041757.0,Asia,1.614016
...,...,...,...,...,...,...,...
45803,2020-03-25,0,0,Zimbabwe,14645473.0,Africa,NaN
45804,2020-03-24,0,1,Zimbabwe,14645473.0,Africa,NaN
45805,2020-03-23,0,0,Zimbabwe,14645473.0,Africa,NaN
45806,2020-03-22,1,0,Zimbabwe,14645473.0,Africa,NaN
45807,2020-03-21,1,0,Zimbabwe,14645473.0,Africa,NaN

#Issue 3: Extra Value (No data) in Cumulative column

In [91]:
target_df_new['Cumulative Data'] = target_df_new['Cumulative Data'].astype(str).str.replace('NaN','0')

In [92]:
target_df_new

,Date,Cases,Deaths,Countries,Population,Continent,Cumulative Data
0,2020-09-29,12,3,Afghanistan,38041757.0,Asia,1.11456471
1,2020-09-28,0,0,Afghanistan,38041757.0,Asia,1.34326078
2,2020-09-27,35,0,Afghanistan,38041757.0,Asia,1.54041255
3,2020-09-26,6,2,Afghanistan,38041757.0,Asia,1.54041255
4,2020-09-25,16,0,Afghanistan,38041757.0,Asia,1.61401588
...,...,...,...,...,...,...,...
45803,2020-03-25,0,0,Zimbabwe,14645473.0,Africa,nan
45804,2020-03-24,0,1,Zimbabwe,14645473.0,Africa,nan
45805,2020-03-23,0,0,Zimbabwe,14645473.0,Africa,nan
45806,2020-03-22,1,0,Zimbabwe,14645473.0,Africa,nan
45807,2020-03-21,1,0,Zimbabwe,14645473.0,Africa,nan

#Step 3: Export the data

In [94]:
target_df_new.to_csv(r'C:\Users\aviparna.biswas\PycharmProjects\COVID-19\COVID_19_dataset.csv')